const config = {
  moduleNameMapper: {
    '^@components/(.*)$': '<rootDir>/src/components/$1',
    '^@global/(.*)$': '<rootDir>/src/global/$1',
    '^@routing/(.*)$': '<rootDir>/src/routing/$1',
    '^@pages/(.*)$': '<rootDir>/src/pages/$1',
    '^@redux/(.*)$': '<rootDir>/src/redux/$1'  },
};

export default config;