const config = {
  // The root of your source code
  roots: ['<rootDir>/components/containers/pokerGame/features/handEvaluators/tests'],

  // Jest transformations -- this adds support for TypeScript
  // using ts-jest
  transform: {
    '^.+\\.tsx?$': 'ts-jest',
    '^.+\\.jsx?$': 'babel-jest',
  },

  // Support for importing from these file types
  moduleFileExtensions: ['js', 'jsx', 'ts', 'tsx'],

  // Configuration for @testing-library/react
  setupFilesAfterEnv: ['@testing-library/jest-dom/extend-expect'],
  moduleNameMapper: {
    '^@components/(.*)$': '<rootDir>/src/components/$1',
    '^@global/(.*)$': '<rootDir>/src/global/$1',
    '^@routing/(.*)$': '<rootDir>/src/routing/$1',
    '^@pages/(.*)$': '<rootDir>/src/pages/$1',
    '^@redux/(.*)$': '<rootDir>/src/redux/$1' 
    '^@networking/(.*)$': '<rootDir>/src/networking/$1',
    '^@features/(.*)$': '<rootDir>/src/features/$1'    
    },
};

export default config;